.sourceCodeFont {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
    font-size: 1.5em;
    color: #ffffff;
    background-color:#292626;
    
}

.navbar{
  color:green
}

.abc {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}